/********************************** 
CSS Reset
***********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/********************************** 
Base Rules
***********************************/
body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
}

h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
h2::after {
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    border-bottom: 2px solid;
}
h2 + img, 
h2 + i {
    float: right;
    height: 21px;
    margin-top: 9px;
    font-size: 20px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
p {
    font-size: 14px;
    margin: 26px 0;
    line-height: 1.7;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    font-family: inherit;
    display: block;
    width: 100%;
    max-width: 470px;
    /* daca folositi height pt dimensionarea inputului
    nu folositi si padding pe verticala */
    height: 64px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 20px;
}
textarea {
    max-width: 100%;
    height: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, .5);
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, .5);
    font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, .5);
    font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, .5);
    font-style: italic;
}


:focus {
    outline: none;
    border-color: #4BCAFF !important;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    min-width: 400px;
}

tr {

}

th {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
    padding-bottom: 10px;
    padding-left: 5px;
}

td {
    padding: 10px 0 10px 5px;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    transition: background-color .1s;
}

/* Aplicam background-color pe td-uri pt compatibilitate */
tbody tr:nth-child(even) td{
    background-color: rgb(245, 245, 245);
}

thead tr th:first-child {
    width: 5%;
}
thead tr th:nth-child(2) {
    /* width: 10%; */
}
thead tr th:nth-child(3) {
    width: 30%;
}
thead tr th:nth-child(4) {
    width: 10%;
    text-align: center;
}
thead tr th:last-child {
    width: 7%;
    text-align: center;
}
tbody tr td:nth-child(4) {
    background-color: #4BCAFF;
    border:none;
    text-align: center;
}
tbody tr td:last-child {
    text-align: center;
}

tbody tr:hover td {
    background-color: rgb(180, 232, 255);
}
.table-container {
    overflow-x: auto;
}


/********************************** 
Layout Rules
***********************************/
.wrap {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 80px 20px;
    /* border: 10px solid red; */
    /* overflow: auto; */
}

.gallery {
    font-size: 0;
    margin: 0 -15px 0 -15px;
}
.gallery-item-2 {
    font-size: 14px;
    display: inline-block;
    width: 50%;
    padding: 15px;
    vertical-align: top;
}

.gallery-item-4 {
    font-size: 14px;
    display: inline-block;
    width: 25%;
    padding: 15px;
    vertical-align: top;
}
/********************************** 
Components
***********************************/
.menu {
    list-style: none;
    font-size: 0;
    float: right;
}
.menu li {
    display: inline-block;
    margin: 0 7px;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    /* color: white; */
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid transparent;
    padding: 10px 18px;
    transition: color .3s, border-color .3s;
}
.menu a:hover {
    border-color: #4BCAFF;
    color: #4BCAFF;
}
.has-dropdown {
    position: relative;
}
.menu ul {
    position: absolute;
    background-color: #4BCAFF;
    width: 130px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: visibility .3s, opacity .3s, transform .3s;
    text-align: center;
}
.menu ul:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    transform: translateY(-100%);
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: transparent transparent #4BCAFF transparent;
}
.menu ul li {
    display: block;
    margin: 0;
}
.menu ul a {
    border-bottom: 2px solid transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2px;
    margin-bottom: 7px;
    /* width: 100%; */
}
.menu ul a:hover {
    color: white;
    border-bottom-color: white;
}
.has-dropdown:hover ul{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


.button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    text-align: center;
    border: 2px solid;
    padding: 16px 38px;
    transition: color .3s, border .3s;
}
.button:hover {
    color: #4BCAFF;
}

.button-primary {
    background-color: #4BCAFF;
    border-color: #4BCAFF;
}
.button-primary:hover {
    color: white;
    background-color: rgb(59, 173, 223);
    border-color: white;
}
.button-icon {
    padding-left: 0;
    padding-right: 0;
    width: 64px;
    text-align: center;
    font-size: 24px;
}
.button-group {
    font-size: 0;
    margin-left: -10px;
    margin-right: -10px;
    /* text-align: center; */
}
.button-group .button {
    margin: 0 10px;
}
/* .button-icon img {
    height: 24px;
} */

/********************************** 
Modules
***********************************/

.header {
    background-color: rgba(53, 63, 71, 0.7);
    position: fixed;
    right: 0; 
    left: 0;
    top: 0;
    color: white;
    z-index: 9000;
}
.header .wrap {
    padding-top: 64px;
    padding-bottom: 64px;

}
.logo img {
    height: 23px;
    display: inline-block;
}
.header .menu {
    margin-top: -11px;
}



.slider {
    height: 800px;
    background-image: url('/img/slider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 400px;
}
.slider .wrap {
    padding-top: 0;
    padding-bottom: 0;
}
.slider h1 {
    font-size: 42px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    background-color: rgba(53, 63, 71, 0.7);
    display: inline;
    line-height: 75px;
}

.services {
    background-color: #4BCAFF;
    color: white;
}
.service-gallery {
    /* font-size: 0;
    margin: 40px -15px 0 -15px; */
    margin-top: 40px;
}
/* .service-item {
    display: inline-block;
    width: 25%;

    padding: 15px;
} */
.service-image {
    border: 2px solid;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 66px;
}
.services img {
    height: 48px;
    display: inline-block;
    vertical-align: middle;
}
.service-image-bg {
    border: 2px solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.services h3 {
    margin-top: 24px;
    margin-bottom: 20px;
}
.services p {
    font-size: 12px;
    line-height: 1.5;
}

.portfolio {
    color: #515F67;
}

.portfolio-gallery {
    /* font-size: 0;
    margin: 65px -15px 0 -15px; */
    margin-top: 65px;
}

/* .portfolio-item {
    font-size: 14px;
    display: inline-block;
    width: 25%;
    padding: 15px;
    vertical-align: top;
} */
.portfolio-item a {
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.portfolio-item img {
    width: 100%;
}

.portfolio-overlay {
    background-color: rgba(53, 63, 71, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
}
.portfolio-item a:hover .portfolio-overlay {
    visibility: visible;
    opacity: 1;
}
.portfolio-overlay span {
    font-size: 72px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* outline: 1px solid red; */
}

.products {
    background-color: rgb(111, 122, 141);
    color: white;
}
.product-gallery {
    margin-top: 40px;
}


.about {
    background-color: #353F47;
    color: white;
}
.about iframe {
    width: 100%;
    height: 300px;
}

.twitter {
    background-color: #4BCAFF;
    color: white;
}


/* .twitter p {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.78;
}
.testimonials p {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.78;
} */
.twitter p, 
.testimonials p {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.78;
}

.twitter a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}


.who {
    background-image: url('/img/about.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}


.testimonials {
    color: #515F67;
}

p.testimonial-author {
    color: #4BCAFF;
    font-weight: 700 !important;
    font-size: 14px;
}
/* .testimonials .testimonial-author {
    color: #4BCAFF;
    font-weight: 700 !important;
    font-size: 14px;
} */
/* .testimonials .wrap .fas.fa-quote-right ~ p.testimonial-author {
    color: #4BCAFF;
    font-weight: 700 !important;
    font-size: 14px;
} */


.contact {
    background-image: url('/img/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.contact button {
    margin-top: 40px;
    width: 100%;
    max-width: 370px;
}
.contact .gallery-item-2:last-child p:first-child{
    margin-top: 58px;
}

.footer {
    background-color: #353F47;
    color: rgba(255, 255, 255, .5);
}

.footer-menu {
    list-style: none;
    font-size: 0;
    display: inline-block;
}

.footer-menu li {
    font-size: 14px;
    display: inline-block;
    border-right: 2px solid;
    line-height: 1;
    padding: 0 10px;
}
.footer-menu li:last-child {
    border: none;
}
.footer-menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}
.footer-copyright {
    margin: 0;
    float: right;
}


.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 2s;
    perspective: 1000px;
    
}

.overlay.is-visible {
    visibility: visible;
    opacity: 1;   
}
.modal {
    background: white;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%) translateY(-200%); */
    transform: translateX(-50%) translateY(-50%) rotateX(-180deg) rotateY(180deg);
    opacity: 1;
    /* transition: transform 2s cubic-bezier(.17,.67,.71,1.32), opacity 2s; */
    transition: transform 2s 2s, opacity 2s 2s;
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.overlay.is-visible .modal {
    transform: translateX(-50%) translateY(-50%) rotateX(0) rotateY(0);
    opacity: 1;
}
.modal-close {
    position: absolute;
    top: -12px;
    right: -12px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    background: coral;
    border-radius: 50%;
    color: white;
    transition: transform .5s;
    transform: translateZ(0) rotateZ(0);
    
}
.modal-close:hover {
    transform: translateZ(0) rotateZ(0) scale(2);
}